    <nav class="navbar navbar-expand navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand"><img src="/assets/images/logo.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-content" routerLink="/viewtickets">View Tickets</a>
              </li>
              <li class="nav-item">
                <a class="nav-content" routerLink="/createticket">Create Ticket</a>
              </li>
              <li class="nav-item">
                <a class="nav-content" (click)="userLogout()">Logout</a>
              </li>
              </ul>
              </div>
        </div>
    </nav>
    <div class="container">
    <div style="width: 400px; margin: auto;" >
        <h1 class="mb-4">Ticket</h1>
        <div class="card">
        <div class="card-body">
            <div>
            <label for="ticketStatus">Ticket Status: </label>
            <p>{{ticket.ticketStatus}}</p>
            </div>
            <div>
            <label for="ticketPriority">Ticket Priority: </label>
            <p>{{ticket.ticketPriority}}</p>
            </div>
            <div>
            <label for="reqType">Request Type: </label>
            <p>{{ticket.reqType}}</p>
            </div>
            <div>
            <label for="fromDate">From Date: </label>
            <p>{{ticket.fromDate}}</p>
            </div>
            <div>
            <label for="toDate">To Date: </label>
            <p>{{ticket.toDate}}</p>
            </div>
            <div>
            <label for="fromCity">From City: </label>
            <p>{{ticket.fromCity}}</p>
            </div>
            <div>
            <label for="travelCity">To City: </label>
            <p>{{ticket.travelCity}}</p>
            </div>
            <div>
            <label for="travelApproveBy">Travel Admin: </label>
            <p>{{ticket.travelApproveBy}}</p>
            </div>
            <div>
            <label for="travelDuration">Travel Duration: </label>
            <p>{{ticket.travelDuration}}</p>
            </div>
            <div>
            <label for="expenseBorne">Expense Borne By: </label>
            <p>{{ticket.expenseBorne}}</p>
            </div>
            <div>
            <label for="upperBoundExpense">Upper Bound Expense: </label>
            <p>{{ticket.upperBoundExpense}}</p>
            </div>
            <div>
            <label for="adminComment">Admin Comment: </label>
            <p>{{ticket.adminComment}}</p>
            </div>
            <div>
                <a *ngIf="ticket.ticketStatus!=='DONE'" [routerLink]="['/updateticket',ticket.ticketid]"  class="btn btn-success" >Edit Ticket</a>
            </div>
            </div>
            </div>
            </div>
</div>
